/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked
*/
.imageLink{
    display: block;
    height: 100px;
    width: 200px;
    border: 2px solid violet;
}
.image{
    width: 200px;
    height: 100px;
}

.knapp1:link {
    font-size: medium;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
}


.knapp1:visited {
    background-color:mediumvioletred;
    color:black;
    border: 3px solid yellow;
    margin: 4rem;
}

.imageLink:visited {
    border: 2px solid red;
}

.knapp1:hover {
    color: red;
}
.image:hover{
    border: 2px solid blue;
}

.knapp1:active {
    background-color: darkgreen;
}

.image:active {
    border: 2px solid orange;
}

