/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked
*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.imageLink {
    display: block;
    height: 100px;
    width: 200px;

}

.image {
    width: 200px;
    height: 100px;
}

.exempel {
    cursor: crosshair;
}

.exempel:link {
    color: black;
}

.imageLink:link {
    border: 2px solid violet;
}

.knapp1:link {
    font-size: medium;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.exempel:visited {
    color: orange;
}

.knapp1:visited {
    background-color: mediumvioletred;
    color: black;
    margin: 4rem;

}

.imageLink:visited {
    border: 2px solid red;
}

.exempel:hover {
    font-size: 2em;
    color: orange;
}

.knapp1:hover {
    color: red;
}

.image:hover {
    border: 2px solid blue;
}

.exempel:active {
    color: black;
}

.knapp1:active {
    background-color: darkgreen;
}

.image:active {
    border: 2px solid orange;
}

