/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked
*/



a.knapp1:link {
    font-size: medium;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a.knapp2:link {
    font-size: medium;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a.knapp1:visited {
    background-color:grey;
    color:black;
}

a.knapp2:visited {
    background-color:grey;
    color:black;
}

img.knapp2:visited{
    width: 100%;
}


a.knapp1:hover {
    color: red;
}

a.knapp2:hover {

}
img.knapp2:hover{
    width: 400px;
    height: 300px;
}

a.knapp1:active {
    background-color: darkgreen;
}

a.knapp2:active {
    background-color: darkgreen;
}

